# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.sdf
*.opensdf
*.suo

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.15
*.lst
*.rom
*.rpk
*.inf
*.ssd
BBC/burger
*.cart
*.com
*.dsk
*.mtx
*.sg
*.BIN
*.bin
*.cas
*.wav
*.mp3
Debug/
Release/
tniASM/
*.user
*.ddp
*.cas
*.vdk
HighRate/mame/roms/nichidvd.zip
HighRate/mame/roms/hrhmbrew/11.ic51
HighRate/mame/roms/hrhmbrew/gal16v8h.020
PV2000/rom.bat
LM80C/Burger.prg
